.bottom{
    background-color:antiquewhite;
}
.carousel-inner {
    width:100%;
    height:auto;
}
.carousel{
    width:50%;
}
#col1{
    border-style: dashed;
    border-width:2px;
    background-color:rgb(73, 73, 205);
}
#col2{
    border-style: dashed;
    border-width:2px;
    background-color:rgb(132, 20, 132);
}
#col3{
    border-style: dashed;
    border-width:2px;
    background-color:rgb(248, 112, 219);
}

